*{
	margin:0 auto;
}

body{
	background-color: #F0F8FF;
	font-size:14px;
}

input{
	padding: .2em .2em .2em .2em;
}	

label{
	display: block;
	margin: .5em 0 0 0;
}

fieldset{
	padding-top:2em;
	margin: 0 auto;
	width:80%;
}

fieldset legend{
	font-family: 'Verdana';
	font-weight:bold;
} 

header{
	margin:0 auto;
	width:100%;
	height:8%;
	background-color: rgba(255, 196, 42, 1.0);
	font-family:'Candara';
	padding:1em;
	text-align:center;
	font-size:1em;
}

a{
	font-family:'Comic Sans';
	font-size:1em;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
}

.contenedor{
	margin: auto;
	margin-top:5%;
	margin-left:37%;
	width:26%;
	background-color:#FF4500;
	color:#FFFAF0;
	border-radius:5px;
	font-family:'Arial';
	font-style:oblique;
}

#mensaje{
	position:relative;
	width:25%;
	height:65%;
	margin-top:35em;
	margin: 0 auto;
	margin-left:2.8em;
}
